/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --button-hover-color: #35343080;
  --header-title-color: #FFC2E6;
  --intro-text-color: #353430;
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --background-path: url(/images/cover-image-light.png);
  --decor-color: #353430;
}

/* Декоративный элемент REC скрываем в светлой теме */
.theme-light .rec-decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --button-hover-color: #35343080;
    --header-title-color: #FFC2E6;
    --intro-text-color: #353430;
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --background-path: url(/images/cover-image-light.png);
    --decor-color: #353430;
  }

  .rec-decor {
    display: none;
  }
}
