/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
* {
  box-sizing: border-box;
}

.page {
  font-family: var(--main-font-family);
  font-size: 18px;
  background-image: var(--background-path);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

/* Header */

.header {
  inline-size: 100%;
  block-size: 100vh;
}

.header__intro {
  margin-block-start: 65px;
  position: absolute;
  right: 10px;
  width: 355px;
}

.header__theme-menu {
  position: relative;
  display: flex;
  padding-block-start: 75px;
  padding-inline-end: var(--content-inline-padding);
  justify-content: end;
}

.header__title {
  margin-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  gap: var(--small-gap);
  flex-direction: column;
}

.header__theme-menu-button {
  box-sizing: border-box;
  font-style: inherit;
  border-radius: 0;
  background-color: transparent;
  text-transform: lowercase;
  color: var(--decor-color);
  border: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  outline: 1px solid var(--button-hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
  outline: none;
}

/* Decorated Zone */

.decorated-zone {
  position: relative;
  inline-size: 100%;
  block-size: 100vh;
  min-height: 668px;
}

.decorated-zone__title {
  font-size: var(--title-font-size);
  line-height: 83%;
  font-weight: var(--title-font-weight);
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-top: var(--decor-color) solid 1px;
  border-right: var(--decor-color) solid 1px;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  border-bottom: var(--decor-color) solid 1px;
  border-left: var(--decor-color) solid 1px;
  bottom: 10px;
  left: 10px;
}

/* Content */

.content-block,
.content-item,
.content-item__info {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.content-block {
  padding: 40px var(--content-inline-padding) 0 var(--content-inline-padding);
  gap: var(--section-gap);  
}

@media (width >= 768px) {
  .header__intro {
    margin-block-start: 162px;
    width: 355px;
  }
  
  .header__theme-menu {
    padding-block-start: 192px;
    padding-inline-end: var(--content-inline-padding);
  }
  
  .header__title {
    margin-top: 173px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-row: 23px 260px 315px 433px;
    grid-template-areas: "title title title"
                         "sunset sunset ice-cream"
                         "tape books ice-cream"
                         "tape street street";
  }

  .gallery-title {
    grid-area: title;
  }

  .gallery__picture-sunset {
    grid-area: sunset;
  }

  .gallery__picture-ice-cream {
    grid-area: ice-cream;
    object-fit: cover;
    height: 100%;
  }

  .gallery__picture-tape {
    grid-area: tape;
    object-fit: cover;
    height: 100%;
  }

  .gallery__picture-books {
    grid-area: books;
  }

  .gallery__picture-street {
    grid-area: street;
  }

  .content-section-why {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .content-section-why__title {
    grid-column: 1;
    grid-row: 1/-1;
  }

  .content-section-why__info {
    grid-column: 2;
  }

  .content-section-how {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .content-section-how__title {
    grid-column: 1;
    grid-row: 1/-1;
  }

  .content-section-how__container {
    grid-column: 2;
  }
}

@media (width >= 1024px) {
  .content-section-what__info {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    padding: 0;
    justify-content: center;
    top: 22px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-top: 273px;
  }

  .header__intro {
    margin-top: 114px;
    width: 491px;
  }
}

.content-item {
  gap: var(--item-gap);  
}

.content-item__info {
  gap: var(--item-gap);
}

.content-item_title,
.title-decor,
.content-item__info_text {
  line-height: var(--line-height-text);
}

.content-item_title {
  color: var(--decor-color);
  font-weight: var(--title-font-weight);
}

.content-item__info_title {
  margin-block-end: 10px;
}

.content-item__info_text {
  color: var(--text-color);
}

.title-decor {
  font-weight: var(--title-font-weight);
  letter-spacing: 0%;
  color: var(--intro-text-color);
  background-color: var(--accent-color);
  font-size: var(--intro-font-size);
}

.content-section-how__info .content-block__annotation {
  font-weight: var(--main-font-weight);
}

.content-section-how__container {
  display: grid;
  gap: var(--item-gap);
}

.gallery {
  gap: var(--small-gap);
}

.gallery__picture {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  margin: 0;
}

.footer__title,
.text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Elements */

.rec-decor {
  display: flex;
  color: var(--decor-color);
  text-transform: uppercase;
  font-weight: var(--main-font-weight);
  line-height: 25px;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.rec-decor::after {
  content: '';
  display: inline-block;
  align-self: center;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-inline-start: 10px;
  margin-inline-end: 9px;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}
